Quote of the Day
<blockquote id="qod-quote">
   ... loading ...
</blockquote>
<script src="http://quotesondesign.com/api/3.0/api-3.0.js" 
type="text/javascript" charset="utf-8"></script>

<div class="row">
	<% @posts.each do |post| %>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<%= link_to (image_tag post.image.url(:medium), class: 'image'), post %>
			</div>
		</div>
	<% end %>	